<div class="container-fluid">


<div class="row">
    <p *ngIf="hasError" class="alert alert-danger mt-2">{{errorMessage}}</p>
<div class="col-md-12">
    <label for="lat">Latitude</label>
    <input type="number" name="lat" id="lat" [(ngModel)]="lat" class="form-control">
</div>
<div class="col-md-12">
    <label for="lng">Longitude</label>
    <input type="number" name="lng" id="lng" [(ngModel)]="lng" class="form-control">
</div>
<div class="col-md-12">
    <label for="lng">Distance</label>
    <input type="number" name="dist" id="dist" [(ngModel)]="dist" class="form-control">
</div>
<div class="col-md-4 mt-2">
    <button (click)="searchByLocation()" class="btn btn-primary">
        Search
    </button>
</div>
</div>
<div>
    <ul>
        <li *ngFor="let team of teams">
           <a routerLink="/team/{{team._id}}"> {{team.country}} </a>
      
        </li>
    </ul>
</div>
</div>